#box{
    background-color: rgb(5, 249, 249);
    border-radius: 20px;
    border-color: black;
    position: auto;
    margin: auto;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    align-items: center;
}
.delete{
    margin-left: 100px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 2px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.748);
    
}